<label>New movie name: <input #newMovieName /></label>
<label>New movie description: <input #newMovieDesc /></label>
<label>New movie image Url: <input #newMovieUrl /></label>
<button (click)="
addMovie( newMovieName.value, newMovieDesc.value, newMovieUrl.value );
 newMovieName.value=''; newMovieDesc.value=''; newMovieUrl.value='';
">Add Movie</button>

<ul>
  <li *ngFor="let movie of movies">
  {{movie.title}}
  <button (click)="isClicked(movie)" [value]="movie.isClicked">Reserve</button>
  <my-film *ngIf="movie.isClicked === true" [movie]="movie"></my-film>
  </li>
</ul>

