<div *ngIf="projection">
	<h1>{{projection.movie.title}}</h1>
	<h3>Vreme projekcije: {{projection.time}}</h3>
	<p>Sala: {{projection.theatre.name}}</p>
	 <ul>
	 <button md-raised-button (click)="login()">
 Use My Facebook Account
</button>
<button md-raised-button (click)="logout()">
  Logout
</button>
<div *ngIf="af.auth | async">
<img style="width:30px;height:30px;float: left;" src="{{(af.auth | async).auth.photoURL}}"/>
<p>&nbsp;&nbsp;&nbsp;Logged in as {{ (af.auth | async).auth.displayName }}</p>
	<div id="theatre"> 
	      <button *ngFor="let item of items | async" class="seat" #seat (click)="updateItem(item, $event, this)">
	      </button>
	</div>
</div>

<!-- [ngClass]="{'selectedSeat': isSeatSelected }" -->
<!-- [style.background-color]="getStyle()" -->
